In [2]:
import pandas as pd
import re

In [3]:
import matplotlib.pyplot as plt

In [4]:
%matplotlib inline

In [5]:
summary = pd.read_csv("atusdata/atussum_2013.dat")

In [6]:
summary.index = summary.pop('tucaseid')

In [7]:
sum_for_corr = summary.iloc[:,23:]

In [8]:
correlation = sum_for_corr.corr()

In [9]:
correlation[(correlation['t050101'] > (.1))]

,t010101,t010102,t010201,t010299,t010301,t010399,t010401,t020101,t020102,t020103,...,t181501,t181599,t181601,t181801,t189999,t500101,t500103,t500105,t500106,t500107
t050101,-0.327168,-0.035355,0.086831,-0.013370,-0.060978,-0.009438,-0.002603,-0.166599,-0.124327,-0.031572,...,-0.033463,-0.013944,-0.005013,-0.003160,-0.036294,-0.063656,-0.022931,0.014938,-0.073687,-0.006906
t180501,-0.211294,-0.023816,0.081406,-0.009189,-0.039556,-0.005544,-0.002473,-0.111787,-0.091055,-0.023232,...,-0.028695,-0.012421,-0.007777,-0.005946,-0.024705,-0.044668,-0.012360,0.017318,-0.047626,-0.002202

In [10]:
corr_stack = correlation.stack()

In [11]:
corr_stack.head()

t010101  t010101    1.000000
         t010102   -0.113135
         t010201   -0.118443
         t010299   -0.010672
         t010301    0.001342
dtype: float64

In [12]:
import math

In [13]:
highly_correlated = corr_stack[(corr_stack.map(math.fabs) >= 0.5) & (corr_stack !=1)]

In [17]:
highly_correlated[30:100]

t100304  t050103    0.769701
         t181001    0.632186
t109999  t181099    1.000000
t120201  t181202    0.623004
t129999  t181299    1.000000
t130123  t130221    1.000000
t130221  t130123    1.000000
t140101  t181401    0.603554
t149999  t181499    0.989102
t180301  t030112    0.546303
t180303  t030302    0.714350
t180305  t030503    0.556492
t180401  t040112    0.588002
t180402  t040299    0.532946
t180403  t040301    0.579215
         t040302    0.654218
t180405  t040507    0.579285
t180501  t050101    0.610970
t180503  t050303    0.532403
t180599  t050199    0.968276
t180601  t060101    0.603713
t180602  t060202    0.649120
t180701  t070101    0.651901
t180702  t070102    0.545990
t180704  t070104    0.578172
t180803  t080301    0.839804
t180804  t080401    0.540000
t180805  t080501    0.729167
t180807  t080701    0.831182
t180899  t089999    0.786498
t180901  t090103    0.826995
t180905  t090501    0.515124
t181001  t050103    0.617114
         t100304    0.632186
t181002  t100201    0.934582
t181099  t109999    1.000000
t181202  t120201    0.623004
t181299  t129999    1.000000
t181401  t140101    0.603554
t181499  t149999    0.989102
dtype: float64

ideas: most popular sports by state  
most popular spectator sports by state
time spent on religion by state
religion by age
time spent waiting if the people are doing a certain activity
diff between renting and owning house
time spent waiting overall


df[col]  == series of col
df[[col1, col2]] == just those columns view
df[n:m] == df view rows
df.loc[:, [col1, col2, col2] copy of columns
df.loc[label1 : label2] -- rows
df.iloc[integerposition:integerposition]
df.xs[